* {
    --background-light: #ddd;
}

body {  
    max-width: 1200px;
    margin: auto;
    font-family: "Roboto", sans-serif;
    min-height: 1vh;
}

nav {
    grid-column: 1/3;
    display: flex;
    background-color: #013468;
    width: 100%;
    text-align: center;
}
nav a {
    padding: 1em;
    flex: 1 1 100%;
    text-decoration: none;
    color: #fff;
    border-bottom: 3px solid #013468;
}
nav a:hover {
    border-bottom: 3px solid yellow;
    font-weight: 700;
}

header{
    grid-column: 1/3;
    color: #ddd;
    background-color: #333;
    padding: 0;
}

header h1 {
    padding: .5em 1em;
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
    padding: 1em;
}

img {
    width: 200px;
    float: right;
    padding: 1.5em;
}
.flag {
    float: left;
}

.aside {
    grid-column: 2/3;
}

.card {
    background-color: #eee;
    border-radius: .5em;
}
.card h2 {
    text-align: center;
    margin: 0;
    padding: .5em;
    background-color: #9fccfb;
    border-radius: .5em .5em 0 0;
    border: 1px solid #ddd;
}

.card h3 {
    border-bottom: 2px solid #555;
    text-align: center;
    margin: 0 2em;
    padding-bottom: .5em;
}

.card p {
    padding: 1.5em;
    margin: 0;
}

.card ul {
    padding-right: 1.5em;
}

figure {
    position: relative;
    margin: 0;
}

figcaption {
    position: absolute;
    top: 10.8em;
    left: 4.1em;
    font-size: small;
    font-style: italic;
}

footer {
    grid-column: 1/3;
    color: #ddd;
    padding: .5em 0 5em;
    background-color: #555;
    text-align: center;
}

#lastModified {
    color: rgb(227, 140, 0);
}